.CartItems{ 
    flex:0.7;
    /* background-color: white; */
    margin-right: 18px;
    padding:20px;
}
.CartItems-items{ 
    display:flex;
    justify-content: space-between;
    /* flex-direction: column; */
    padding-top:12px;
    padding-bottom:12px;
}
