.CartItem-info{
    display: flex; 
    flex:0.7;
    /* background-color: white; */
    /* align-items: flex-start; */
    margin-right: 18px; 

    /* padding-top:20px; */
    flex-direction: column;
    
}
.CartItem-prod-info{ 
    margin: 10px;
}
.CartItem-items{ 
    display:flex;
    flex-direction: column;
    padding-top:12px;
    padding-bottom:12px;
    flex:1;
}
.CartItem{ 
    display: flex;
    /* margin-top: 10px; */
    background-color: white;
     margin: 0 10px 10px 10px ;
    flex:1;
    
}


.CartItem-image img { 
    width: 180px; 
    height: 180px;
    margin-right:16px;
    object-fit: contain;
    flex-grow: 0;
    flex-shrink: 0;
    
}
.CartItem-delete{ 
     cursor: pointer;
    
}
.CartItem-actions{ 
    display:flex;
    flex-direction: column;
    
}
/* .CartItem-image img{ 
    width: 100%; 
    height: 100%;
    object-fit: contain;
   
} */