.cart{ 
height: 400px;
display:flex;
padding:14px 18px 0px 18px;
display: flex;
align-items: flex-start;

}

/* .CartItems{ 
flex:0.8;
background-color: white;
margin-right: 18px;

}
.CartTotal{ 
flex:0.2;

} */