
.Product{ 
    /* background-color: beige; */
    display: flex;
    flex-direction: column;
    flex: 1; 
    
    justify-content: flex-end ;
    align-items: center;
       padding:30px;
      margin:20px;
      min-width: 300px;
      height: 300px;
      max-width: 400px;
      background-color: rgb(245, 247, 250);
      z-index: 1;
      
      box-shadow:12px 12px 2px 1px rgba(168, 168, 233, 0.2);
}
.Product-rating { 
   display:flex; 
   margin-bottom: 10px;
}
.Product-description { 
    display: flex;
    flex-direction: column;
}

.Product > img {
    display: flex; 
    flex: 1;
    width: 100%;
    max-height: 200px; 
    object-fit: contain;
    align-self: center;

}
.Product >  button { 
    display: flex;
    margin-top:10px;
    justify-self: center;
   border: 1px solid; 
   border-color: peru;
   background: rgb(236, 195, 81);
   border-radius: 8%;
   color: rgb(22, 20, 18);
   width: 100px;
  
    
} 
/* max-height:400px;
display */
.Product-title{
    justify-content: flex-start; 
     font-weight: 900;
     margin-bottom: 4px;
     align-self: start;

}